<tr>
  <td class="title align-middle"><%= badge.title %></td>
  <td class="id align-middle"><img src="<%= badge.url_image %>" width="70" height="70"></td>
  <td class="id align-middle"><%= badge.rule %></td>
  <td class="user_id align-middle">
    <% badge.users.each do |user| %>
      <%= user.email %>
    <% end %>
  </td>
  <td class="functions align-middle"><%= link_to t('.show'), admin_badge_path(badge) %></td>
  <td class="functions align-middle"><%= link_to t('.edit'), edit_admin_badge_path(badge)%></td>
  <td class="functions align-middle">
    <%= link_to t('.delete'), admin_badge_path(badge), method: :delete, data: { confirm: t('.confirm') } %>
  </td>
</tr>
