<% if @test_passage.current_question %>
  <h1>Выполнение теста: <%= @test_passage.test.title %></h1>
  <b>
    <b><%= @test_passage.current_question.body %></b>
  </b>

  <div id="bar">
    <div id="progress-bar">0%</div>
  </div>

  <div id="time-test">
    Время выполнения теста:
    <div id="timer"
         data-timer="<%= @test_passage.test.timer_on_seconds %>"
         data-result="<%= url_for result_test_passage_url %>">
    </div>
  </div>

  <a class="count-questions" data-count-questions="<%= @test_passage.count_questions %>">
    Текущий тест: <%= @test_passage.count_questions %>
  </a>
  <a class="all-count-questions" data-all-count-questions="<%= @test_passage.test.questions.count %>">
    из <%= @test_passage.test.questions.count %>
  </a>

  <%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form| %>
    <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :text, include_hidden: false do |b| %>
      <div class="form-check">
        <%= b.check_box id: "answer_ids_#{b.object.id}", class: "form-check-input" %>
        <%= b.label %>
      </div>
    <% end %>

    <p><%= link_to 'Gist Question', gist_test_passage_path(@test_passage), method: :post %></p>
    <p><%= form.submit 'Далее', class: "btn btn-primary", id: "submit-form" %></p>
  <% end %>
<% else %>
  <h1>У теста <%= @test_passage.test.title %> отсутствуют вопросы.</h1>
<% end %>