<nav class="navbar navbar-light bg-light">
  <h2 class="header">
    <% if current_user && current_user.admin? %>
      <%= link_to 'Admin TestGuru', admin_tests_path, class: 'navbar-brand' %>
    <% else %>
      <%= link_to 'TestGuru', root_path, class: 'navbar-brand' %>
    <% end %>
  </h2>

  <span class="navbar-text">
    <% if user_signed_in? %>
      <%= t('.welcome') %>, <b><%= current_user.email %></b> Guru |
      <%= link_to t('.sign_out'), destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to t('.sign_in'), :new_user_session %> |
      <%= link_to t('.registration'), :new_user_registration %>
    <% end %>
  </span>
</nav>
