<article>

  <h1>----------</h1>

  <footer>
    <p><%= t('.author') %>: Platonov Oleg</p>
    <p><%= t('.project') %>: <a href="<%= github_url('pythoneyron', 'test_guru') %>" target="_blank">Test Guru</a></p>
    <p><%= t('.description') %> <a href="https://thinknetica.com/" target="_blank">Thinknetica</a></p>
    <p>© <%= this_year %> Test Guru</p>
  </footer>
</article>
