<tr>
  <td class="title"><%= answer.text %></td>
  <td class="title"><%= answer.correct %></td>
  <td class="functions"><%= link_to 'Показать', answer_path(answer) %></td>
  <td class="functions"><%= link_to 'Редактировать', edit_answer_path(answer) %></td>
  <td class="functions"><%= link_to 'Удалить', answer, method: :delete, data: {confirm: 'Удалить ответ?'}%></td>
</tr>