<div class="card border-primary">
  <div class="card-body">
    <%= form_with model: [:admin, @test], local: true do |form| %>
      <%= render 'shared/errors', resource: @test%>
      <div class="form-group">
        <%= form.label :title %>
        <%= form.text_field :title, id: :test_title, class: 'form-control' %>

        <%= form.label :level %>
        <%= form.number_field :level, id: :test_level, class: 'form-control' %>

        <%= form.label :category_id %>
        <%= form.collection_select :category_id, Category.all, :id, :title, prompt: true, class: "form-control" %>
      </div>
      <%= form.submit "Создать", class: 'btn btn-primary'  %>
    <% end %>
  </div>
</div>
