<tr>
  <td class="title"><%= test.title %></td>
  <td class="id"><%= test.category_id %></td>
  <td class="id"><%= test.author_id %></td>
  <td class="id"><%= test.level %></td>
  <td class="id"><%= test.questions.count %></td>
  <td class="functions"><%= link_to t('.show'), admin_test_path(test) %></td>
  <td class="functions"><%= link_to t('.edit'), edit_admin_test_path(test) %></td>
  <td class="functions"><%= link_to t('.delete'), admin_test_path(test), method: :delete, data: { confirm: t('.confirm') } %></td>
</tr>
