<tr>
  <td class="title"><%= test.title %></td>
  <td class="id"><%= test.category_id %></td>
  <td class="id"><%= test.author_id %></td>
  <td class="id"><%= test.level %></td>
  <td class="id"><%= test.questions.count %></td>
  <td class="id"><%= button_to t('.start_test'), start_test_path(test) %></td>
</tr>
