<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style type="text/css">
        TABLE {
            width: 1000px; /* Ширина таблицы */
            border-collapse: collapse; /* Убираем двойные линии между ячейками */
        }
        .title {
            width: 100px; /* Ширина ячейки */
        }
        .body {
            width: 500px; /* Ширина ячейки */
        }
        .id {
            width: 40px; /* Ширина ячейки */
        }
        .functions {
            width: 50px; /* Ширина ячейки */
        }
        TD, TH {
            padding: 3px; /* Поля вокруг содержимого таблицы */
            border: 1px solid black; /* Параметры рамки */
        }
        TH {
            background: #87CEEB; /* Цвет фона */
        }
    </style>
  </head>

  <body>
    <%= yield %>

    <%= render 'home/footer' %>
  </body>
</html>
